@import '../../../styles/spacing.scss';

$max-product-image-size: 400px;

@media screen and (orientation: landscape) {
  .card-content {
    grid-template-columns: $max-product-image-size 1fr;
    min-height: 85vh;
  }
}

@media screen and (orientation: portrait) {
  .card-content {
    grid-template-columns: 1fr;

    .card-img-top {
      place-self: center;
      margin-bottom: $spacing-m;
    }
  }
}

.card-content {
  display: grid;
  padding: 2rem 0;

  .card-img-top {
    max-width: $max-product-image-size;
  }
}

.card-title {
  color: var(--bs-primary);
}

.cart-container {
  margin-top: $spacing-m;
}

.cart-action {
  .cart-action-quantity {
    display: flex;
    margin-top: $spacing-s;

    input {
      width: 100px;
      margin: 0 $spacing-s;
    }
  }
}
