@import '../../../styles/spacing.scss';
.catalogue-item-list {
  display: flex;
  flex-wrap: wrap;

  .card-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 32px 42px;
  }
}

.catalogue-filter {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-m;

  .form-label {
    width: fit-content;
    margin-right: 0.5rem;
  }

  .form-select {
    width: 150px;
  }
}
